alabaster==0.7.11
aniso8601==3.0.2
apispec==0.39.0
atomicwrites==1.2.1
attrs==18.2.0
Babel==2.6.0
certifi==2018.8.24
chardet==3.0.4
click==6.7
docutils==0.14
Flask==1.0.2
flask-apispec==0.7.0
Flask-JWT-Extended==3.12.1
Flask-RESTful==0.3.6
flask-restful-swagger==0.20.1
Flask-SQLAlchemy==2.3.2
idna==2.7
imagesize==1.1.0
itsdangerous==0.24
Jinja2==2.10
jsonschema==2.6.0
MarkupSafe==1.0
marshmallow==3.0.0b13
marshmallow-sqlalchemy==0.14.1
more-itertools==4.3.0
numpy==1.15.1
packaging==17.1
passlib==1.7.1
pathlib2==2.3.2
Pillow==5.2.0
pluggy==0.7.1
py==1.6.0
pyaml==17.12.1
Pygments==2.2.0
PyJWT==2.4.0
pyparsing==2.2.0
pytest==3.8.0
pytz==2018.5
PyYAML==3.13
requests==2.20.0
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.8.0
sphinxcontrib-httpdomain==1.7.0
sphinxcontrib-websupport==1.1.0
SQLAlchemy==1.2.11
urllib3==1.23
webargs==4.0.0
Werkzeug==0.14.1
